html {
  font-family: 'Roboto', sans-serif !important;
}
  
body{
    margin:0px;
    padding:0px;
    background: rgb(247, 247, 247) !important;

}

body::-webkit-scrollbar {
  display: none;
}

.pg-heading{
    margin-top: 0rem;
}

.wid input{
    width: 100% !important;
}

.ckbx {

     width: auto !important;
}

.foam-signn {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 11px;
    box-shadow: 0px 0px 10px 0px #ddd;
    background: #fff;
     padding-right: 15px;
    padding-left: 15px;
}

.foam-signn  h2 {
    font-size: 30px;
    margin-top: 0px;
    /* background: #062c2e4; */
    padding: 10px;
    color: #000;
}

.foam-signn input {
    /* border: 0px 0px transparent; */
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 6px;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}

#emaill {
    border: 0px 0px transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 6px;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}

#name {
    border: 0px 0px transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 6px;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}

#mobile_nmbr {
    border: 0px 0px transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 6px;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}

#contact-msg {
    border: 0px 0px transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 6px;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}

#sub_btn {
    border-radius: 6px;
}
     
/* Firefox is a special princess, just like Chrome & Edge,
who needs special Properties to remove scroll bar.
As we have Properties for Chrome & Edge,
we added the Properties, but we dont know about Firefox.
So, if you know that special command, please insert here.
Otherwise do your own work!!
*/

.top-header {
    padding-bottom: 0px;
}
.top-header h1 {
    margin-top: 13px;
    margin-bottom: 10px;
}
.top-header  span{font-size:15px; font-family:arial; }

.top-header span {
    font-size: 15px;
    font-family: arial;
    display: inline-block;
    padding-top: 10px;
}

.video{ padding-top:0px;}

#demos .owl-carousel {
    margin: 1rem 0;
}
.video h2 {
    list-style: italic;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

.inner-video ul li {
    border: 1px solid #ddd;
    margin: 5px;
    display: inline-block;
    padding: 5px;
    width: 220px;
    height: 150px;
    border-radius: 20px;
        box-shadow: 0px 9px 18px 0px #ddd;
}

 .or{
    display:inline-block;
    color: #ddd;
    width: 4%;
}
a.logn {
    display: inline-flex;
        text-decoration: none;
   
}
.wrk {
    padding-bottom: 20px;
    border: 1px solid #ccc;
    padding: 5px;
        padding-right: 5px;
        padding-left: 5px;
    padding-left: 48px;
    padding-right: 40px;
    border-radius: 8px;
    margin-top: 10px;
    top: 5px;
    position: relative;
    width: 291px;
}
.add {
    width: 291px;
    background: #cf2a23;
    margin-top: 0px;
    border-radius: 8px;
    border: 0px solid;
    margin-bottom: 10px;
    padding: 14px;
    font-size: 17px;
    color: #fff;
     box-shadow: 0px 9px 18px 0px #ddd;
    font-weight: 900;
}

.paybycard {
    width: 250px;
    background: #ff8d00;
    margin-top: 30px;
    border-radius: 8px;
    border: 0px solid;
    margin-bottom: 10px;
    padding: 14px;
    font-size: 17px;
    color: #fff;
     box-shadow: 0px 9px 18px 0px #ddd;
    font-weight: 900;
}

nav {
    background: #132a41;
    padding: 10px;
    color: #fff;
        margin-bottom: 41px;
}
.logo {
    font-size: 21px;
}
.logo a{color:#fff;}
.right-side {
    float: right;
}

.right-side a{color:#fff;}

.right-side ul li {
    display: inline-block;
    padding-left: 11px;
    line-height: 30px;
}

.right-side ul {
    margin: 0px;
}

.search {
    width: 50%;
    margin: 0 auto;
}

.search-top input {
    width: 100%;
    min-height: 39px;
    box-shadow: 0 5px 15px #ccc;
    border: 0px;
    padding-left: 6px;
}

.card_btn {
    text-align: center;
}

.search .box {
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.box ul li {
    /* border: 1px solid #ccc; */
    padding: 8px 39px;
        border-radius: 5px;
    display: inline-block;
    box-shadow: 0 7px 10px #ccc;
    margin: 0 auto;
    text-align: center;
    background-color: #b3ebec;
    margin: 5px;
    /* width: 120px; */
    /* line-height: 41px; */
    /* height: 77px; */
    margin-bottom: 20px;
    text-align: center;
}

.box ul li:hover {
    background: #ccc !important;
    /* width: 100%; */
    cursor: pointer;
}

.box ul {
    margin: 0px;
    padding: 0px;
}

.icon-top {
    float: left;
    padding-top: 27px;
    color: #5e39d0;
    text-align: left;
    width: 100%;
}

.grid-box {
    float: left;
    width: 100%;
    overflow-y: scroll;
    margin-top: 30px;
    height: 300px;
     visibility: hidden;
}

.grid-box::-webkit-scrollbar {
  display: none;
}

.grid-box-2::-webkit-scrollbar {
  display: none;
}

.grid-box,
.grid-inner:hover {
  visibility: visible;
}

.grid-inner {
       display: inline-grid;
    width: 47%;
    padding: 20px;
    border: 0px solid #ddd;
    border-radius: 10px;
    margin-left: 11px;
    box-shadow: 0px 0px 25px 0px #f3f3f3;
    text-align: left;
        margin-bottom: 12px;
        background: #fff;
}

.blu{background:#d6f4f4;}

.grid-box-2 {
    float: left;
    width: 60%;
    margin-top: 30px;
    height: 500px;
    overflow-y: scroll;
}

.grid-inner-2 {

    width: 46%;
    padding: 20px;
    border: 0px solid #ddd;
    border-radius: 10px;
    margin-left: 11px;
    box-shadow: 0px 0px 25px 0px #f3f3f3;
    text-align: left;
        margin-bottom: 12px;
            display: inline-grid;
            grid-row-start: 2;
}
.grid-inner-2 h1 {
    font-size: 12px;
    font-weight: bold;
}

.grid-box-right {
    float: left;
    width:40%;
}
.grid-inner h1 {
    font-size: 14px;
    font-weight: bold;
}

.box ul li:nth-child(2) {
    background: #d3f1f4;
}

.box ul li:nth-child(3) {
    background: #d3f1f4;
}

.grid-full{
      /*float: left;*/
     border-radius: 10px;
    margin-left: 11px;
    box-shadow: 0px 0px 25px 0px #f3f3f3;
    text-align: left;
        margin-bottom: 2px;
        padding: 20px;
        background: #fff;
            margin-top: 27px;
            display: block;
}

.grid-full h1 {
    font-size: 14px;
    font-weight: bold;
}

.grid-full span {
    float: right;
}

.bootm-box4 .new-btn {
    position:relative;
    width: 100%;
    display:inline;
    margin-top:9px;
}

.new-btn {
    /* float: left; */
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.new-btn a.btn.btn-primary:nth-child(2) {
    background: #cde3f0;
    right: 6px;
}

.new-btn a.btn.btn-primary {
    width: 47%;
    background: #ddd;
    display: inline-block;
    padding: 8px;
    top: -22px;
    min-height: 37px;
    white-space: pre;
    line-height: 30px;
    text-align: center;
    background: #a2e9cf;
    border: 0px solid;
    margin: 0px;
    color: #000;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px #bfbbbb;
    text-decoration: none;
}

.grid-box-right .grid-full{box-shadow:none !important;} 

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
}

.foam-sign {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 27px;
    box-shadow: 0px 0px 10px 0px #ddd;
    background: #fff;
}

.foam-sign  h2 {
    font-size: 30px;
    margin-top: 0px;
    background: #062c2e4;
    padding: 10px;
    color: #000;
}

.box h4 {
    /* border: 1px solid #ccc; */
    padding: 9px;
    display: inline-block;
    box-shadow: 0 7px 10px #ccc;
    margin: 0 auto;
    text-align: center;
    background-color: #b3ebec;
    margin: 5px;
    /* line-height: 72px; */
    width: 125px;
    /* line-height: 41px; */
    height: 57px;
    font-weight: normal !important;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
}

.clr1 {
    background-color: #2deded !important;
}

.clr2 {
    background-color: #83e9ea !important;
}

.clr3 {
    background-color: #7ff4f4 !important;
}

.clr4 {
    background-color: #c9f1f2 !important;
}

.clr5 {
    background-color: #d9f4f4 !important;
}
.scrh.ui-autocomplete-input {
    width: 100%;
    display: initial;
    box-shadow: 6px 9px 14px 1px #ddd;
    border:none;
}
.box h4:hover {
    background: #ccc !important;
    /* width: 100%; */
    cursor: pointer;
}
form.search_med_form {
    padding-top: 37px;
}
.search_med_form .opselect {
    width: 20%;
    display: inline-block;
    float: left;
}
.dropdown-toggle {
    background: #132a41;
    border: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.new-btn a.btn.btn-primary:hover{
    background: #ccc !important;
    /* width: 100%; */
    cursor: pointer;
}

.grid-inner:hover {
    box-shadow: 0px 8px 20px 0px #ccc;
    cursor: pointer;
}

@media screen and (max-width: 1198px) {
    
    .search {
            width: 100%;
        }

    .logo {
        font-size: 21px;
        text-align: center;
    }

    .right-side ul {
        margin: 0px;
        padding: 0px;
    }
    .right-side {
        float: none;
        text-align: center;
        width: 100%;
    }

    .grid-box-2 {
        float: left;
        width: 100%;
    }
        
    .grid-inner-2 {
        width: 100%;
        margin-left: 0;
    }
        
    .grid-box-right {
        float: left;
        width: 100%;
    }

    .grid-full {
        float: left;
        border-radius: 10px;
        margin-left: 0;
        width:100%;
    }
}


button:hover, button:focus, .button:hover, .button:focus {
    background-color: none !important;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em; */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 17px;
    color: #FFF;
    width: 92%;
}

.foam-sign input {

    border: 0px 0px transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 6px;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    width: 110px;

}


.txtara_contact textarea {
    max-width: 100%;
    font-size: 14px !important;
}

div#about {
    padding-bottom: 199px;
    padding-top: 127px;
}

div#contact {
     padding-top: 55px;
    padding-bottom: 190px;
}

@media screen and (max-width: 768px) {

    div#contact {
    padding-bottom: 0px;
}


    div#about {
    padding-bottom: 0px;
    padding-top: 0px;
}

.search_med_form .opselect {width: 100%;}
    .scrh.ui-autocomplete-input {
    width: 100%;}
    
    .wrk {width:100%;}
    .grid-inner {
        display: inline-grid;
        width: 100%;
        margin-left: 0px;
    }
    
    .add {
        width: 100%;
    }
    
    .inner-video ul {
        margin: 0px;
        padding: 0px;
    }


    a.logn {
    display: block;
}
}