
body{background:#ccc}

.main-box {

    display: inline-block;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 20px;
    background: #fbfbfb;
}

.main-box .sear {
  width: 100%;
  
 
	display: inline-block;
}
.search-top input {
    width: 100%;
    min-height: 39px;
    box-shadow: 0 12px 15px #ccc;
    border: 0px;
	    padding-left: 6px;
}
.main-box .box {
    display: flex;
    width: 100%;
	margin-top:20px;
}

 .box ul{padding:0px; margin:0px;}
.box ul li {
    border: 1px solid #ccc;
    padding: 60px;
    display: inline-block;
   

    box-shadow: 0 7px 10px #ccc;
    margin: 0 auto;
    text-align: center;
    background-color: #b3ebec;
    margin: 11px;
}

.box ul li  div {
    display: grid;
  
    line-height: 22px;
   
    color: #7b7777;
}

.box ul li  div b{ color: #000;}


.card-body {
    background: #fff;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0px 32px #ccc;
    margin-bottom: 20px;
}
.card-body span {
    text-align: right;
    float: right;
    font-weight: bold;
}
h5.card-title {
    font-size: 16px;
}
.cart-btm {
    background: #fff;
    margin: 10px;
    border-radius: 10px;
    min-height: 50px;
    text-align: left;
    line-height: 50px;
   box-shadow:0 0px 32px #ccc;
    padding-left: 10px;
    font-weight: bold;
}

.bootm-box {
    margin-top: 45px;
}
.card {
    width: 50%;
    display: i;
    float: left;
   
}
/*------------------three screen-------------------*/


.bootm-box3 {
    margin-top: 45px;
}
.bootm-box3 .card {
    width: 50%;
    display: i;
    float: left;
   
}

.bootm-box3 .card-body {
    background: #fff;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0px 32px #ccc;
    margin-bottom: 20px;
}
.bootm-box3 .card-body span {
    text-align: right;
    float: right;
    font-weight: bold;
}
.bootm-box3 h5.card-title {
    font-size: 16px;
}
.bootm-box3 .cart-btm {
    background: #fff;
    margin: 10px;
    border-radius: 10px;
    min-height: 50px;
    text-align: left;
    line-height: 50px;
   box-shadow:0 0px 32px #ccc;
    padding-left: 10px;
    font-weight: bold;
}
.bootm-box3 .new-btn {
    position: relative;
    width: 100%;
    display: inline;
   
    margin-top: 9px;
}
.bootm-box3 .new-btn a.btn.btn-primary {
    width: 47%;
    background: #ddd;
    display: inline-block;
    padding: 8px;
    position: relative;
    top: -22px;
    min-height: 37px;
    white-space: pre;
    float: left;
    line-height: 30px;
    text-align: center;
    background: #a2e9cf;
    margin: 0px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.bootm-box3 .new-btn  a.btn.btn-primary:nth-child(2) {
    background: #cde3f0;
    right: 6px;
}


/*-----------------*/


.bootm-box4 {
    margin-top: 45px;
}
.bootm-box4 .card {
    width: 100%;
    display: i;
    float: left;
   
}


.bootm-box4 .card-body {
    background: #fff;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0px 32px #ccc;
    margin-bottom: 20px;
}
.bootm-box4 .card-body span {
    text-align: right;
    float: right;
    font-weight: bold;
}
.bootm-box4 h5.card-title {
    font-size: 16px;
}
.bootm-box4 .cart-btm {
    background: #fff;
    margin: 10px;
    border-radius: 10px;
    min-height: 50px;
    text-align: left;
    line-height: 50px;
   box-shadow:0 0px 32px #ccc;
    padding-left: 10px;
    font-weight: bold;
}
.bootm-box4 .new-btn {
    position: relative;
    width: 100%;
    display: inline;
   
    margin-top: 9px;
}
.bootm-box4 .new-btn a.btn.btn-primary {
    width: 47%;
    background: #ddd;
    display: inline-block;
    padding: 8px;
    position: relative;
    top: -22px;
    min-height: 37px;
    white-space: pre;
    float: left;
    line-height: 30px;
    text-align: center;
    background: #a2e9cf;
    margin: 0px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.bootm-box4 .new-btn  a.btn.btn-primary:nth-child(2) {
    background: #cde3f0;
    right: 6px;
}